<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cisco.cmxtest"
    android:versionCode="1"
    android:versionName="1.0.14" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

	<uses-feature android:name="android.hardware.wifi" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="com.cisco.cmxtest.TestApp">
        <activity
            android:name="com.cisco.cmxtest.MainActivity"
            android:label="@string/app_name" android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:configChanges="orientation|keyboardHidden|screenSize" 
            android:name="com.cisco.cmx.ui.CMXMainActivity" android:label="@string/app_name"></activity>
        
        <activity android:name="com.cisco.cmxtest.SettingsActivity" android:label="@string/title_settings_activity" />   
        <service android:name="com.cisco.cmxtest.wifi.WifiScanService" />"
    </application>
</manifest>
